{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
{{ form_start(form) }}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
