{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
        
    <h2>{{ user.email }}</h2>
    <ul>
        {% for post in posts %}
            <div>
                {{ post.text }}
                <a href="{{ path('postDelete', {'id': post.id}) }}">Delete</a>
            </div>
        {% endfor %}
        
        
        {% if posts.haveToPaginate %}
                <div class="navigation text-center">
                    {{ pagerfanta(posts, 'twitter_bootstrap3_translated', {routeName: 'homepagePaginated', routeParams: app.request.query.all}) }}
                </div>
        {% endif %}
    </ul>
{% endblock %}
