{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {% if error is defined%}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
