{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <h2>Registration</h2>
    
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

