{% block header %}
    <ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="{{ path('homepage') }}">Homepage</a></li>
            <li><a href="{{ path('postCreateGet') }}">New post</a></li>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('registrationGet') }}">Registration</a></li>
            <li><a href="{{ path('app_login') }}">Login</a></li>
        {% endif %}
    </ul>
{% endblock %}
